<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>p5.js example</title>
  <style>
    body {
      padding: 0;
      margin: 0;
    }
  </style>
  <script src="static/p5.js"></script>
  <!-- <script src="../addons/p5.sound.js"></script> -->
  <script src="static/sketch.js"></script>
  <script src="static/const.js"></script>
  <script src="static/gv.js"></script>
  <script src="static/utils.js"></script>
  <script src="static/character.js"></script>
</head>

<body>
  <main>
  </main>
</body>

</html>